html{
    position: relative;
    /* min-height: 100%; */
}

body {
    text-align: center;
    vertical-align: middle;
    font-family: Vazir, Arial, Helvetica, sans-serif;
    background: rgb(230,225,227);
    background: radial-gradient(circle, rgba(230,225,227,1) 0%, rgba(220,236,255,1) 100%); 
}

.page-container {
    /* position: relative; */
    min-height: 100vh;
    margin-bottom: 3em;
}

.jumbotron.cover{
    width: 100%;
    height: 35%;
    background: linear-gradient( rgba(255, 107, 107, 0.6),  rgba(255, 107, 107, 0.6)),
                url(../images/Cover\ Photo.jpg);
    background-size: 100% 100%;
    overflow: auto;
    color: #f7fff7;
}

.jumbotron {
    background-color: #ff6b6b;
    overflow: visible;
    color: #f7fff7;
}

.jumbotron h1 {
    float: right;
    margin: 0.25em 0;
}

.jumbotron .logo-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-logo {
    width: 10%;
    height: auto;
    margin: 1em;
}

footer {
    color: #f7fff7;
    text-align: center;
    width: 100%;
    height: 3em;
    background-color: #1a535c;
    position: absolute;
    bottom: 0;
    margin-top: 2em;
    padding: 0.25em;
    overflow: hidden;
}

.main-content {
    padding-top: 2.5em;
    padding-bottom: 1em;
    position: relative;
}

header {
    padding: 0.1em;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 2.5em;
    overflow: auto;
    background-color: #f7fff7;
}

header table {
    width: 100%;
}

header table td:first-child {
    text-align: right;
}

header table td:last-child {
    text-align: left;
}

header table td a {
    margin: 0 1em;
}

.logo {
    width: 2em;
    height: auto;
    float: right;
}

.flaticon-account:before, .flaticon-account:after {
    font-size: 80px;
    margin: 20px;
}

.middle {
    text-align: center;
    width: 60%;
}

.center-text-jumbotron {
    padding-top: 7em;
    text-align: center;   
}

fieldset {
    border: 1px solid lightsteelblue;
    width: 100%;
    align-items: center;
    margin-bottom: 1em;
    border-radius: 1em;
    background-color: #f7fff7;
}

fieldset .row {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 90%;
}

fieldset .order {
    border: 1px solid lightsteelblue;
    border-radius: 0.5em;
    border-collapse: collapse;
}

fieldset .row div {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    top: 0;
    bottom: 0;
    border-right: 1px solid lightsteelblue;
    border-collapse: collapse;
}

fieldset .row div:first-child {
    border: 0;
}

fieldset .row .btn {
    margin: 0.5em;
}

.btn-group {
    top: -1.25em;
    box-shadow: 1px 1px 2px 1px #888888;
}

.btn-group, .btn {
    border-radius: 0.5em;
}

.btn-group, .btn-group .btn {
    height: 3em;
}

.btn-group .btn {
    display: inline;
}

.btn-group .btn-danger:hover .credit {
    visibility: visible;
}

.btn-group .btn-danger:hover .orders {
    visibility: hidden;
}

.btn-group .btn-light:hover .credit {
    visibility: hidden;
}

.btn-group .btn-light:hover .orders {
    visibility: visible;
}

.rest-logo {
    display: block;
    height: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50%;
}

.jumb-menu {
    margin-bottom: 20%;
}

.img-thumbnail {
    margin-left: auto;
    margin-right: auto;
    border-radius: 12%;
}

.rest-logo h1 {
    margin-left: auto;
    margin-right: auto;
    color: black;
}

form {
    margin: 1em;
}

form input {
    margin: 1em 0.25em;
    height: 3em;
    border-radius: 0.5em;
    text-align: center;
}

.dish {
    border: 1px solid lightsteelblue;
    width: min-content;
    align-items: center;
    border-radius: 1em;
    background-color: #f7fff7;
    margin: 5%;
    padding: 1em;
}

.dish .food-desc {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dish .food-thumbnail {
    width: 10em;
    height: auto;
}

.dish .food-name {
    float: right;
    font-weight: bold;
}

.dish .star {
    width: 1em;
    height: auto;
}

.dish .rate {
    display: inline-block;
}

.dishes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

}

.res-menu {
    width: 100%;
}

h3 {
    top: -1em;
    position: relative;
    display: inline-block;
    color: green;
    padding: 0.25em;
    border-bottom: 1px solid green;
}

.res-cart {
    /* width: 20em; */
    padding: 1em;
    border-left: 1px dashed lightsteelblue;
}

.cart-card {
    border: 1px solid lightsteelblue;
    width: 20em;
    align-items: center;
    border-radius: 1em;
    background-color: #f7fff7;
    padding: 1em;
    /* margin: 1em; */
}

.cart-card table {
    width: 100%;
}

.cart-card h5 {
    display: inline-block;
    margin-bottom: 1em;
    padding: 0.25em;
    border-bottom: 1px solid black;
}

.orders-cart {
    border: 1px dashed lightsteelblue;
    border-radius: 1em;
    border-collapse: separate;
}

.count-set td {
    text-align: center;
    width: 33%;
    background-color: cadetblue;
}

.flex-menu {
    display: flex;
    align-items: stretch;
}

.icon:hover {
    text-decoration: none;
}

.flaticon-plus:before, .flaticon-plus:after, .flaticon-minus:before, .flaticon-minus:after {
    width: 1em;
    margin: 0;
    padding: 0;
    text-align: center;
    height: auto;
}

.count-set {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.search-pad {
    border: 1px solid lightsteelblue;
    align-items: center;
    top: -75px;
    border-radius: 1em;
    background-color: #f7fff7;
    margin: auto;
}

.search-pad form {
    margin: 0.25em;
}

.food-party {
    margin: 1em;
}

.party-foods-container {
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    display: flex;
    flex: 1;
    overflow: auto;
    margin-bottom: 2em;
}

.box {
    display: flex;
    justify-content: center;
}

.remaining-time {
    border: 1px solid green;
    top: -1em;
    align-items: center;
    color: green;
    border-radius: 1em;
    margin: auto;
}

.party-food-card {
    border: 1px solid lightsteelblue;
    width: 16rem;
    align-items: center;
    border-radius: 1em;
    background-color: #f7fff7;
    margin: 1em;
}

.party-food-card .food-thumbnail {
    width: 10em;
    height: auto;
}

.party-food-card .food-name {
    float: right;
    font-weight: bold;
}

.party-food-card .star {
    width: 1em;
    height: auto;
}

.party-food-card .rate {
    display: inline-block;
}

.old-price {
    text-decoration: line-through;
    color: red;
}

.party-food-card p {
    margin: 0;
}

.party-food-card .row {
    padding: 1em;
    margin: 0;
    width: 100%;
}

.party-food-card .residue {
    border: 1px solid lightsteelblue;
    border-radius: 1em;
    margin: 0.5em;
}

.party-food-card .restaurant-name {
    border-top: 1px dashed lightsteelblue;
}

.res {
    border: 1px solid lightsteelblue;
    width: 15rem;
    align-items: center;
    border-radius: 1em;
    background-color: #f7fff7;
    margin: 1em;
    padding: 1em;
}

.res .res-thumbnail {
    width: 10em;
    height: auto;
    padding: 0.25em;
}

.res .res-name {
    font-weight: bold;
    padding: 0.25em;
}

.reses {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position:fixed;
    margin: auto;
    background: white;
    /* width: 20em; */
    border-radius: 1em;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/* .modal-container {
    width: fit-content;
    height: fit-content;
} */

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.food-detail {
    border: 1px solid lightsteelblue;
    width: 32rem;
    align-items: center;
    border-radius: 1em;
    background-color: #f7fff7;
    margin: 1em;
}

.food-detail .food-thumbnail {
    /* width: 1em; */
    height: auto;
}

.food-detail .food-name {
    float: right;
    font-weight: bold;
}

.food-detail .star {
    width: 1em;
    height: auto;
}

.food-detail .rate {
    display: inline-block;
}

.food-detail p {
    margin: 0;
}

.food-detail .row {
    padding: 0.25em;
    margin: 0;
    width: 100%;
}

.food-detail .residue {
    border: 1px solid lightsteelblue;
    border-radius: 0.3em;
    margin: 0.5em;
}

.food-detail .detail-res-name {
    margin-top: 0.5em;
}

.food-detail .food-desc {
    font-size: smaller;
}

.food-detail .bottom {
    border-top: 1px dashed lightsteelblue;
    padding: 0.5em;
    margin: 0.25em;
}

.food-detail .flexer {
    display: flex;
    justify-content: right;
}

.food-detail .flex-item {
    display: inline-block;
    margin: 0 1em;
}

.receipt {
    text-align: center;
}

.receipt .res-name {
    padding: 0.5em;
    margin: 0.5em;
    display: inline-block;
    border-bottom: 1px solid gray;
}

.receipt .receipt-factor {
    margin: auto;
}

.receipt table, .receipt th, .receipt td, .receipt tr {
    border: 1px solid gray;
    overflow: hidden;
    border-collapse: collapse;
}

.receipt .receipt-factor th {
    background-color: lightgray;
    background-clip: padding-box;
    color: gray;
    font-size: smaller;
}

.receipt .net-cost {
    text-align: left;
    margin: 1em;
    font-weight: bold;
}

#notif {
    position: fixed;
    top: 5rem;
    z-index: 1500;
    right: 5%;
    left: 55%;
}
